@import "../../../globals.scss";

.big-card{
    min-height: 100vh;
    @include AllCenter;
    .card{
        width: 35%;
        height: 40vh;
        min-width: 350px;
        min-height: 25rem;
        background: var(--div-bg);
        border-radius: 1rem;
        padding: 1rem;
    }
    @media screen and (max-width: $w850) {
        margin-left: 0;
    }
}